[tool.poetry]
name = "autoemulate"
version = "0.1.0"
description = "An emulator platform for Digital Twins"
license = "MIT"
authors = ["martin stoffel <martin.adam.stoffel@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.10,<3.13"
mogp-emulator = "^0.7.2"
matplotlib = "^3.7.2"
scikit-learn = "^1.3.0"
pandas = "^2.1"
colorlog = "^6.7.0"
torch = "^2.1.0"
skorch = "^0.15.0"
scikit-optimize = "^0.9.0"
scipy = "^1.11.3"
numpy = "^1.24"
xgboost = "^2.0.2"
joblib = "^1.3.2"


[tool.poetry.group.dev.dependencies]
ipykernel = "^6.25.0"
pytest = "^7.4.0"
sphinx = "^7.2.6"
myst-parser = "^2.0.0"
furo = "^2023.9.10"
sphinx-copybutton = "^0.5.2"
sphinx-autodoc-typehints = "^1.24.0"
black = "^23.10.1"
pre-commit = "^3.5.0"
jupyter-book = "^1.0.0"
pytest-cov = "^4.1.0"
coverage = "^7.3.1"
tqdm = "^4.66.2"
iprogress = "^0.4"

[tool.poetry.group.dev.dependencies]
ipykernel = "^6.25.0"

[tool.poetry.extras]
docs = ["furo", 
        "sphinx-copybutton", 
        "sphinx-autodoc-typehints"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.coverage.run]
relative_files = true