body.home-page .bd-sidebar-primary {
    display: none;
}

body.home-page .bd-header-article {
    display: none;
}

body.home-page .prev-next-footer {
    display: none;
}

body.home-page .bd-main {
    margin-left: 0;
}

body.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

body.home-page h1 {
    font-size: 6em;
}

body.home-page p.explainer-text {
    font-size: 2em;
}

body.home-page p.left-text {
    font-size: 1.5em;
    text-align: left;
    flex: 1;
}

body.home-page p.right-text {
    font-size: 1.5em;
    text-align: right;
    flex: 1;
}

body.home-page .sd-rounded-pill {
    font-size: 2em;
    padding: 1em 2em;
}