name: Docs
on: 
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
    contents: write
jobs:
    docs:
        if: github.event.pull_request.draft == false || github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                python-version: 3.12
            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                python-version: 3.12
                enable-cache: true
                cache-suffix: docs
                activate-environment: true
            - uses: nikeee/setup-pandoc@v1
            - name: "Install autoemulate with extras: dev, docs"
              run: uv pip install -e .[dev,docs]
            - name: "Run jupyterbook"
              run: jupyter-book build docs --all 
            - name: "Deploy"
              uses: peaceiris/actions-gh-pages@v3
              if: ${{ github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/docs') }}
              with:
                    publish_branch: gh-pages
                    github_token: ${{ secrets.GITHUB_TOKEN }}
                    publish_dir: docs/_build/html/
                    force_orphan: true
