name: precommit
on:
    workflow_dispatch:
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]
    push:
        branches:
            - main
            - develop
    release:
        types:
            - published

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

permissions:
    contents: write

jobs:
    pre-commit:
        if: github.event_name != 'pull_request' || github.event.pull_request.draft == false
        name: Pre-commit
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
            with:
              fetch-depth: 0
          - uses: actions/setup-python@v5
            with:
              python-version: "3.12"
          - name: Install uv
            uses: astral-sh/setup-uv@v7
            with:
              python-version: "3.12"
              enable-cache: true
              cache-suffix: precommit
              activate-environment: true
          - name: Install dependencies
            run: |
              uv pip install -e .[dev,spatiotemporal]

          - uses: pre-commit/action@v3.0.0
            with:
              extra_args: --hook-stage manual --all-files
